$color-white: rgb(255, 255, 255);
$color-light-gray: rgb(230, 230, 230);
$color-gray: rgb(200, 200, 200);
$color-darkish-gray: rgb(175, 175, 175);
$color-darker-gray: rgb(120, 120, 120);
$color-hover-dark-gray: rgb(70, 70, 70);
$color-dark-gray: rgb(50, 50, 50);
$color-very-dark-gray: rgb(40, 40, 40);
$color-black: rgb(0, 0, 0);
$color-green: rgb(51, 102, 0);
$color-light-green: rgb(75, 149, 0);
$color-red: rgb(153, 0, 0);
$color-danger-red: rgb(204, 61, 61);
$color-danger-red-lightish: rgb(224, 69, 69);
$color-danger-red-light: rgb(255, 76, 76);
$color-dark-red: rgb(128, 0, 0);
$color-very-dark-red: rgb(90, 0, 0);
$color-orange: rgb(255, 128, 0);
$color-dark-orange: rgb(219, 110, 0);
$color-light-gold: rgb(188, 152, 60);
$color-gold: rgb(185, 143, 36);
$color-darker-gold: rgb(163, 124, 27);
$color-dark-gold: rgb(102, 68, 0);
$color-blue: rgb(0, 143, 179);
$color-light-blue: rgb(66, 209, 245);
$color-dark-blue: rgb(0, 61, 77);
$color-yellow-text: rgb(255, 230, 128);
$color-xp-bar-light: rgb(0, 122, 153);
$color-xp-bar-dark: rgb(0, 15, 26);
$color-hp-bar-dark: rgb(5, 0, 0);
$color-common: rgb(97, 97, 97);
$color-uncommon: rgb(9, 148, 9);
$color-rare: rgb(39, 101, 184);
$color-legendary: rgb(103, 86, 1);
$color-mythic: rgb(182, 28, 171);
$color-website-orange: rgb(249, 165, 37);
