@use "@/styles/variables" as v;
$extraSmall: 599px;
$small: 899px;
$medium: 1199px;

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media screen and (max-width: $medium) {
    cursor: pointer;
  }
}

.skillImage {
  position: absolute;
  top: 3px;
  left: 4px;
}

.skillImageSmall {
  position: absolute;
  left: 1px;
}

.skillNameBackground {
  position: absolute;
  bottom: 4px;
  background-color: v.$color-black;
  opacity: 0.5;
  height: 30px;
  z-index: 2;
}

.skillNameText {
  position: absolute;
  bottom: 6px;
  color: v.$color-light-gray;
  font-size: 16px;
  z-index: 2;
}

.actionsContainer {
  position: absolute;
}

.actionsContainerBackground {
  background-color: v.$color-black;
  opacity: 0.5;
}

.actionButtonContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.identifyActionButton {
  width: 90px;
}

.button {
  padding-bottom: 5px;
}

// Modal Styles
.modalMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  height: 160px;
  width: 290px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.identifyConfirmationBackground {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 262.5px;
}

.identifyCostContainer {
  position: absolute;
  top: 28px;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
}

.costContainer {
  width: 80px;
  justify-content: end;
}

.lineContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.confirmText {
  color: v.$color-light-gray;
  font-size: 16px;
  line-height: 18px;
}

.costText {
  color: v.$color-gold;
  font-size: 16px;
  line-height: 18px;
}

.helperTextContainer {
  padding-top: 8px;
}

.helperText {
  color: v.$color-light-gray;
  font-size: 14px;
  line-height: 18px;
}

.identifyConfirmButton {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 28px;
}

.hoverPointer {
  cursor: pointer;
}

.dcxLogoContainer {
  height: 20px;
  width: 20px;
  margin-left: 7px;
  margin-top: -2px;
}

// Pending Transaction Modal Styles
.pendingTransactionModalContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  height: 220px;
  width: 320px;
}

.identifySkillStatusContainer {
  position: absolute;
  display: inline-block;
  overflow-wrap: break-word;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.spinnerContainer {
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

.spinner {
  color: v.$color-light-gray;
}

.message {
  text-align: center;
  color: v.$color-light-gray;
  margin-top: 6px;
}
